<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.example.app.refresh</string>
		<string>com.example.app.processing</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Aspire Healthspan</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Aspire Healthspan</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access so you can take or update your profile photo in Aspire Healthspan.</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location usage description</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to save your updated profile photos to your photo library when you change your profile picture in Aspire Healthspan.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library so you can select and upload a profile picture to personalize your Aspire Healthspan account.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>This app requires notification access to alert you.</string>
	<key>NSHealthShareUsageDescription</key>
    <string>Aspire Healthspan requires access to your Health data so we can read steps, activity, heart rate, and other metrics to provide accurate health insights.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>Aspire Healthspan requires permission to update your Health data to help log your wellness activities and keep your records up to date.</string>
    <key>NSMotionUsageDescription</key>
    <string>Aspire Healthspan uses motion data to track your physical activity and provide activity-related insights.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Your description here</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
